/* styles.css */
body {
    font-family: "Poppins", serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 55px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    color:#666;
    margin-bottom: 10px;
    
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;

   
} 
.input-group input[type="email"]:focus, input[type="password"]:focus {
    border-color: #00796b;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 121, 107, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color:#00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#004d40;
}
/*  footer text */
.create-acc {
    font-size: 14px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.bottom.text, .create-new {
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between elements as needed */
}
.create-acc .create-new{
    color: #6470f0;
}
.create-acc .create-new:hover{
    color: #11a5ca;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}
