body {
    font-family: "Poppins", serif;
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.body .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

.container {
    background-color: #ffffff;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #00796b;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 121, 107, 0.5);
}

input[type="submit"] {
    width: 100%;
    background-color: #00796b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #004d40;
}
.create-acc {
    font-size: 14px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.bottom.text, .create-new {
    text-decoration: none;
    margin-right: 10px; /* Adjust spacing between elements as needed */
}
.create-acc .create-new{
    color: #6470f0;
}
.create-acc .create-new:hover{
    color: #11a5ca;
}
